@model List<Coche>
@section style{
    <style>
        table{
            margin:auto;
            width: 70%;
            text-align:center
        }
    </style>
}
<h1>Coches AJAX</h1>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Coche coche in Model)
        {
            <tr>
                <td>@coche.IdCoche</td>
                <td>@coche.Marca @coche.Modelo</td>
                <td><img src="@coche.IdCoche" style="width:50px" /></td>
            </tr>
        }
    </tbody>
</table>