@section style{
    <style>

    </style>
}
<h1>Menu cifrados</h1>
<hr />
<ul class="list-group">
    <li class="list-group-item list-group-item-secondary">
        <a asp-controller="Cifrado" asp-action="CifradoBasico" class="text-black">Cifrado Basico</a>
    </li>
    <li class="list-group-item list-group-item-secondary">
        <a asp-controller="Cifrado" asp-action="CifradoEficiente" class="text-black">Cifrado Eficiente</a>
    </li>
</ul>