@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Inicio Sesion</h1>
<hr />
<form method="post">
    <label class="form-label">Usuario</label>
    <input class="form-control" name="usuario" type="text" />
    <br />
    <button class="btn btn-outline-dark">Log In</button>
</form>
<br />
<h4>@ViewBag.Mensaje</h4>
