@section style{
    <style>

    </style>
}
<h1>Menu</h1>
<hr />
<ul class="navbar navbar-dark">
    <li class="nav-item">
        <a asp-controller="Caching" asp-action="MemoriaDistribuida" class="nav-link">Caching Distribuido</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Caching" asp-action="MemoriaPersonalizada" class="nav-link">Caching Personalizado</a>
    </li>
</ul>