@section style{
    <style>
        p{
            text-align:center;
        }
    </style>
}
<h1>Memoria Distribuida</h1>
<hr />
<p>
    <a asp-controller="Caching" asp-action="MemoriaDistribuida" class="btn btn-outline-dark">Actualizar pagina</a>
</p>
<br />
<h4>@ViewBag.Fecha</h4>